keybinds clear-defaults=true {
  shared_except "normal"{
    bind "Ctrl g" "Esc" { SwitchToMode "Normal"; }
  }
  normal {
    bind "Ctrl g" { SwitchToMode "Tmux"; }
  }
  tmux {
    bind "p" { SwitchToMode "Pane"; }
    bind "t" { SwitchToMode "Tab"; }
    bind "r" { SwitchToMode "Resize"; }
    bind "m" { SwitchToMode "Move"; }
    bind "S" { SwitchToMode "Scroll"; }
    bind "s" { SwitchToMode "Session"; }
    bind "M" {
      LaunchOrFocusPlugin "file:~/.local/share/zellij/plugins/multitask.wasm" {
        floating true
      };
      SwitchToMode "Normal";
    }
    bind "q" { Quit; }
    bind "]" { NextSwapLayout; SwitchToMode "Normal"; }
    bind "[" { PreviousSwapLayout; SwitchToMode "Normal"; }
  }
  pane {
      bind "h" { MoveFocus "Left"; }
      bind "l" { MoveFocus "Right"; }
      bind "j" { MoveFocus "Down"; }
      bind "k" { MoveFocus "Up"; }
      bind "f" { ToggleFloatingPanes; SwitchToMode "normal"; }
      bind "n" { NewPane; SwitchToMode "Normal";}
      bind "m" { SwitchToMode "move"; }
      bind "x" { CloseFocus; SwitchToMode "normal"; }
      bind "F" { ToggleFocusFullscreen; SwitchToMode "normal"; }
      bind "z" { TogglePaneFrames; SwitchToMode "normal"; }
      bind "e" { TogglePaneEmbedOrFloating; SwitchToMode "normal"; }
      bind "r" { SwitchToMode "RenamePane"; PaneNameInput 0; }
  }
  tab {
      bind "r" { SwitchToMode "RenameTab"; TabNameInput 0; }
      bind "h" "Left" "Up" "k" { GoToPreviousTab; }
      bind "l" "Right" "Down" "j" { GoToNextTab; }
      bind "n" { NewTab; SwitchToMode "Normal";}
      bind "x" { CloseTab; SwitchToMode "normal"; }
      bind "s" { ToggleActiveSyncTab; SwitchToMode "normal"; }
      bind "1" { GoToTab 1; SwitchToMode "normal"; }
      bind "2" { GoToTab 2; SwitchToMode "normal"; }
      bind "3" { GoToTab 3; SwitchToMode "normal"; }
      bind "4" { GoToTab 4; SwitchToMode "normal"; }
      bind "5" { GoToTab 5; SwitchToMode "normal"; }
      bind "6" { GoToTab 6; SwitchToMode "normal"; }
      bind "7" { GoToTab 7; SwitchToMode "normal"; }
      bind "8" { GoToTab 8; SwitchToMode "normal"; }
      bind "9" { GoToTab 9; SwitchToMode "normal"; }
  }
  resize {
      bind "h" "Left" { Resize "Left"; }
      bind "j" "Down" { Resize "Down"; }
      bind "k" "Up" { Resize "Up"; }
      bind "l" "Right" { Resize "Right"; }
  }
  move {
      bind "Esc" { SwitchToMode "normal"; }
      bind "h" "Left" { MovePane "Left"; }
      bind "j" "Down" { MovePane "Down"; }
      bind "k" "Up" { MovePane "Up"; }
      bind "l" "Right" { MovePane "Right"; }
  }
  scroll {
      bind "e" { EditScrollback; SwitchToMode "normal"; }
      bind "j" "Down" { ScrollDown; }
      bind "k" "Up" { ScrollUp; }
  }
  session {
      bind "Esc" { SwitchToMode "normal"; }
      bind "d" { Detach; }
      bind "f" {
        LaunchOrFocusPlugin "zellij:session-manager"{
          floating true
          move_to_focused_tab true
        };
        SwitchToMode "normal";
      }
  }
  search {
      bind "Esc" { ScrollToBottom; SwitchToMode "normal"; }
      bind "j" "Down" { ScrollDown; }
      bind "k" "Up" { ScrollUp; }
      bind "s" { SwitchToMode "entersearch"; SearchInput 0; }
      bind "n" { Search "Down"; }
      bind "p" { Search "Up"; }
      bind "c" { SearchToggleOption "CaseSensitivity"; }
      bind "w" { SearchToggleOption "Wrap"; }
      bind "o" { SearchToggleOption "WholeWord"; }
  }
  entersearch {
      bind "Enter" { SwitchToMode "search"; }
      bind "Ctrl c" "Esc" { SearchInput 27; SwitchToMode "scroll"; }
  }
  RenameTab {
      bind "Enter" "Ctrl c" "Esc" { SwitchToMode "normal"; }
      bind "Esc" { UndoRenameTab; SwitchToMode "tab"; }
  }
  RenamePane {
      bind "Enter" "Ctrl c" "Esc" { SwitchToMode "normal"; }
      bind "Esc" { UndoRenamePane; SwitchToMode "pane"; }
  }
}

pane_frames true

theme "catppuccin-mocha"

mouse_mode true
session_serialization false
copy_command "wl-copy"
