[submodule "builds/nord-dir-colors"]
	path = builds/nord-dir-colors
	url = https://github.com/nordtheme/dircolors.git
[submodule "builds/ohmyzsh"]
	path = builds/ohmyzsh
	url = https://github.com/ohmyzsh/ohmyzsh.git
[submodule "/home/elia/.config/alacritty/themes"]
	path = /home/elia/.config/alacritty/themes
	url = https://github.com/alacritty/alacritty-theme.git
[submodule "builds/custom_ohmyzsh/themes/powerlevel10k"]
	path = builds/custom_ohmyzsh/themes/powerlevel10k
	url = https://github.com/romkatv/powerlevel10k.git
[submodule ".config/bat/themes"]
	path = .config/bat/themes
	url = https://github.com/catppuccin/bat.git
[submodule ".config/lazygit/themes/catppuccin"]
	path = .config/lazygit/themes/catppuccin
	url = https://github.com/catppuccin/lazygit.git
[submodule ".config/waybar/themes/catppucin"]
	path = .config/waybar/themes/catppucin
	url = https://github.com/catppuccin/waybar.git
