[user]
	email = elia.cunial@gmail.com
	name = Elia Cunial

[credential]
	helper = cache

[diff]
  tool = difftastic
  external = difft

[difftool]
  prompt = false

[difftool "difftastic"]
  cmd = difft "$LOCAL" "$REMOTE"

[pager]
  difftool = true

[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f

[init]
	defaultBranch = main

[includeIf "gitdir:~/WORK/"]
  path = ~/WORK/.gitconfig
