[submodule ".config/waybar/themes/catppucin"]
	path = .config/waybar/themes/catppucin
	url = https://github.com/catppuccin/waybar.git
[submodule "builds/void-packages"]
	path = builds/void-packages
	url = https://github.com/void-linux/void-packages.git
