Downloads/
builds/
*tmp*
*test*
*log*
.*/
!.config/
!.local/bin
*_history
.zcompdump*
.wget-hsts
.wallpaper
.config/lazygit/state.yml
.config/pulse/
.config/pypoetry
.config/dconf
.config/fontforge
trash/
.dir_colors
history.txt
*.wasm
mimeapps.list
WORK/
Ohara/
