alacritty
alsa-utils
base
base-devel
bat-extras
bemenu
bluez
bluez-utils
dhcp
dhcpcd
docker
docker-buildx
dosfstools
efibootmgr
eza
fd
fzf
git
git-delta
google-chrome
gputest
grub
gtop
iwd
jq
lazygit
linux
linux-firmware
lolcat
lshw
mesa-utils
neovim
npm
openssh
pamixer
pulseaudio
pulseaudio-alsa
pulseaudio-bluetooth
pyenv
sway
swaybg
tk
ttf-ubraille
unzip
vi
waybar
wget
wl-clipboard
wofi
yay
zellij
zsh
