acpi
alacritty
alsa-utils
base
base-devel
bat-extras
devilspie
dhcp
docker
docker-buildx
efibootmgr
exa
fd
feh
git-delta
google-chrome
grub
gtop
i3-wm
jq
lazygit
lemonbar-xft-git
linux-firmware
lolcat
neovim
npm
openssh
pyenv
rofi
shellcheck
shfmt
stylua-git
tk
transset-df
ttf-sourcecodepro-nerd
ueberzug
unzip
virtualbox-guest-utils
wget
xclip
xcompmgr
xf86-video-intel
xorg-server
xorg-xclipboard
xorg-xinit
yay
zellij
zsh
