swap_tiled_layout {
  tab exact_panes=3 {
          pane size="75%"
          pane size="25%"
  }
  tab exact_panes=4 {
      pane size="75%"
      pane size="25%" split_direction="vertical" {
          pane
          pane
      }
  }
}
swap_tiled_layout {
  tab exact_panes=3 {
      pane split_direction="vertical" {
          pane size="75%"
          pane size="25%"
      }
  }
}
