layout {
  default_tab_template {
    children
    pane size=1 borderless=true {
        plugin location="zjstatus"
    }
  }
  tab focus=true name="Edit" {
    pane name="Neovim" borderless=true command="nu" {
      args "-c 'nvim .'"
    } 
  }
  tab name="Terminal"{
    pane name="" borderless=true 
  }
}
