@import "colors.css";

* {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: FontAwesome, Roboto, Helvetica, Arial, sans-serif;
    font-size: 13px;
}

window#waybar {
    background-color: transparent;
    color: @fg;
    transition-property: background-color;
    transition-duration: .5s;
}


#workspaces,
.modules-right,
.modules-center {
    background-color: transparent;
    border-radius: 50px;
    border-style: solid;
    border-width: 1px;
    border-color: @cyan;
    color: @fg;
}
#workspaces button:not(:last-child),
.modules-center widget:not(:last-child),
.modules-right widget:not(:last-child)
{
    border-right-style: solid;
    border-right-width: 1px;
    border-right-color: @cyan;
}

#cpu, #memory, #temperature, #network,
#pulseaudio, #backlight, #battery, #clock
{
  padding-left: 10px;
  padding-right: 20px;
}

@keyframes blink {
    to {
        color: @black;
    }
}

#workspaces button.focused {
    color: @cyan;
    animation-name: blink;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#battery.charging  {
    color: @green;
    animation-name: blink;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
#battery.plugged{
    color: @green;
}


#battery.critical:not(.charging),
#workspaces button.urgent,
#temperature.critical,
#network.disconnected
{
    color: @red;
    animation-name: blink;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}


tooltip {
  background-color: transparent;
}
