configuration{
show-icons:            true;
modi:                  "drun,run,window,ssh";
lines:                 7;
line-padding:          10;
matching:              "fuzzy";
bw:                    0;
padding:               0;
separator-style:       none;
hide-scrollbar:        true;
line-margin:           0;
font:                  "SauceCodePro Nerd Font 14";
}
//@theme "~/.local/share/rofi/themes/gruvbox-dark.rasi"
@theme "/usr/share/rofi/themes/gruvbox-dark.rasi"
