@import "/home/elia/.config/waybar/themes/catppucin/themes/mocha.css";
#window {
    background-color: alpha(@base, 0.5);
    border: 1px solid @lavender;
    margin-right: 200px;
}

#outer-box {
    background-color: alpha(@base, 0.7);
    border: 1px solid alpha(@lavender, 0.5);
}

#input {
    color: @text;
    border: 1px solid @lavender;
    border-radius: 20px;

    margin-left: 100px;
    margin-right: 100px;
    margin-top: 10px;
    margin-bottom: 20px;

    box-shadow: none;
    background-color: alpha(@base, 0.5);
}

#input:focus {
    color: @test;
    border: 1px solid alpha(@lavender, 1);

    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 20px;

    box-shadow: none;
    background-color: @base;
}

#entry {
    font-family: SauceCodePro Nerd Font;
    border-radius: 20px;
    margin: 5px;
    margin-right: 20px;
    margin-left: 20px;
    padding-left: 10px;
}

#entry:selected {
    background: alpha(@base, 0.7);
    border: 1px solid @lavender;
}
