alacritty
alsa-utils
base-devel
bat
bemenu
bluez
bottom
carapace
curl
delta
dhcp
dhcpcd
docker
docker-buildx
dosfstools
efibootmgr
eza
fd
fzf
gcc
git
jq
lazygit
light
make
neovim
openssh
ripgrep
swayfx
swaybg
unzip
wl-clipboard
wayland
wofi
zellij
nushell
rustup
starship
pulseaudio
pamixer
openssl-devel
zlib-devel
tk-devel
ncurses-devel
bzip2-devel
libffi-devel
readline-devel
sqlite-devel
liblzma-devel
