keybinds clear-defaults=true {
  shared_except "tmux"{
    bind "Ctrl g" { SwitchToMode "Tmux"; }
  }
  tmux {
    bind "Ctrl g" { SwitchToMode "Normal"; }
  }
  tmux {
    bind "p" { SwitchToMode "Pane"; }
    bind "t" { SwitchToMode "Tab"; }
    bind "r" { SwitchToMode "Resize"; }
    bind "m" { SwitchToMode "Move"; }
    bind "S" { SwitchToMode "Scroll"; }
    bind "s" { SwitchToMode "Session"; }
    bind "y" { 
      Run "yazi" {
          close_on_exit true
          floating true
          x "10%"
          y "15%"
          width "80%"
          height "70%"
      };
      SwitchToMode "Normal"
    }
    bind "g" { 
      Run "lazygit" {
          close_on_exit true
          floating true
          x "10%"
          y "15%"
          width "80%"
          height "70%"
      };
      SwitchToMode "Normal"
    }
    bind "z" { 
      Run "zellij" "run" "-cf" "--" "zellij_sessionizer.sh" {
        close_on_exit true
      }; SwitchToMode "Normal"
    }
    bind "q" { Quit; }
    bind "]" { NextSwapLayout; SwitchToMode "Normal"; }
    bind "[" { PreviousSwapLayout; SwitchToMode "Normal"; }
  }
  pane {
      bind "h" { MoveFocus "Left"; }
      bind "l" { MoveFocus "Right"; }
      bind "j" { MoveFocus "Down"; }
      bind "k" { MoveFocus "Up"; }
      bind "f" { ToggleFloatingPanes; SwitchToMode "normal"; }
      bind "n" { NewPane; SwitchToMode "Normal";}
      bind "d" { NewPane "Down"; SwitchToMode "Normal";}
      bind "m" { SwitchToMode "move"; }
      bind "x" { CloseFocus; SwitchToMode "normal"; }
      bind "F" { ToggleFocusFullscreen; SwitchToMode "normal"; }
      bind "z" { TogglePaneFrames; SwitchToMode "normal"; }
      bind "e" { TogglePaneEmbedOrFloating; SwitchToMode "normal"; }
      bind "r" { SwitchToMode "RenamePane"; PaneNameInput 0; }
  }
  tab {
      bind "r" { SwitchToMode "RenameTab"; TabNameInput 0; }
      bind "h" "Left" "Up" "k" { GoToPreviousTab; }
      bind "l" "Right" "Down" "j" { GoToNextTab; }
      bind "n" { NewTab; SwitchToMode "Normal";}
      bind "x" { CloseTab; SwitchToMode "normal"; }
      bind "s" { ToggleActiveSyncTab; SwitchToMode "normal"; }
      bind "1" { GoToTab 1; SwitchToMode "normal"; }
      bind "2" { GoToTab 2; SwitchToMode "normal"; }
      bind "3" { GoToTab 3; SwitchToMode "normal"; }
      bind "4" { GoToTab 4; SwitchToMode "normal"; }
      bind "5" { GoToTab 5; SwitchToMode "normal"; }
      bind "6" { GoToTab 6; SwitchToMode "normal"; }
      bind "7" { GoToTab 7; SwitchToMode "normal"; }
      bind "8" { GoToTab 8; SwitchToMode "normal"; }
      bind "9" { GoToTab 9; SwitchToMode "normal"; }
  }
  resize {
      bind "h" "Left" { Resize "Left"; }
      bind "j" "Down" { Resize "Down"; }
      bind "k" "Up" { Resize "Up"; }
      bind "l" "Right" { Resize "Right"; }
  }
  move {
      bind "Esc" { SwitchToMode "normal"; }
      bind "h" "Left" { MovePane "Left"; }
      bind "j" "Down" { MovePane "Down"; }
      bind "k" "Up" { MovePane "Up"; }
      bind "l" "Right" { MovePane "Right"; }
  }
  scroll {
      bind "e" { EditScrollback; SwitchToMode "normal"; }
      bind "j" "Down" { ScrollDown; }
      bind "k" "Up" { ScrollUp; }
  }
  session {
      bind "Esc" { SwitchToMode "normal"; }
      bind "d" { Detach; }
      bind "f" {
        LaunchOrFocusPlugin "zellij:session-manager"{
          floating true
          move_to_focused_tab true
        };
        SwitchToMode "normal";
      }
  }
  search {
      bind "Esc" { ScrollToBottom; SwitchToMode "normal"; }
      bind "j" "Down" { ScrollDown; }
      bind "k" "Up" { ScrollUp; }
      bind "s" { SwitchToMode "entersearch"; SearchInput 0; }
      bind "n" { Search "Down"; }
      bind "p" { Search "Up"; }
      bind "c" { SearchToggleOption "CaseSensitivity"; }
      bind "w" { SearchToggleOption "Wrap"; }
      bind "o" { SearchToggleOption "WholeWord"; }
  }
  entersearch {
      bind "Enter" { SwitchToMode "search"; }
      bind "Ctrl c" "Esc" { SearchInput 27; SwitchToMode "scroll"; }
  }
  RenameTab {
      bind "Enter" "Ctrl c" "Esc" { SwitchToMode "normal"; }
      bind "Esc" { UndoRenameTab; SwitchToMode "tab"; }
  }
  RenamePane {
      bind "Enter" "Ctrl c" "Esc" { SwitchToMode "normal"; }
      bind "Esc" { UndoRenamePane; SwitchToMode "pane"; }
  }
}

pane_frames false

theme "catppuccin-mocha"

mouse_mode true
session_serialization true
copy_command "wl-copy"

default_layout "terminal"

plugins {
  sessionizer location="https://github.com/cunialino/zellij-sessionizer/releases/download/v0.1.1/sessionizer.wasm" {
    cwd "/home/elia"
  }
  zjstatus location="https://github.com/dj95/zjstatus/releases/download/v0.19.1/zjstatus.wasm" {
            format_left  "{mode}{tabs}"

            hide_frame_for_single_pane "true"

            tab_normal   "#[fg=#6C7086] {name} "
            tab_active   "#[fg=#9399B2,bold,italic] {name} "

            command_git_branch_command     "git rev-parse --abbrev-ref HEAD"
            command_git_branch_format      "#[fg=blue] {stdout} "
            command_git_branch_interval    "10"
            command_git_branch_rendermode  "static"

            mode_locked        "#[fg=red] {name} "
            mode_normal        "#[fg=black] {name} "
            mode_resize        "#[fg=orange] {name} "
            mode_pane          "#[fg=blue] {name} "
            mode_tab           "#[fg=blue] {name} "
            mode_scroll        "#[fg=blue] {name} "
            mode_enter_search  "#[fg=black] {name} "
            mode_search        "#[fg=black] {name} "
            mode_rename_tab    "#[fg=black] {name} "
            mode_rename_pane   "#[fg=black] {name} "
            mode_session       "#[fg=black] {name} "
            mode_move          "#[fg=black] {name} "
            mode_prompt        "#[fg=black] {name} "
            mode_tmux          "#[fg=black] {name} "
  }
}
